@font-face {
  font-family: "BobbyJonesSoft";
  src: url("./asset/font/bobby-jones-soft-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: white;
  padding: 0 20px;
  gap: 32px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

body:has(.custom-alert.active)::after {
  opacity: 0.7;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffeb86;
  border-radius: 10px;
}

h1,
h2,
p {
  margin: unset;
}

h1,
h2 {
  font-family: "BobbyJonesSoft", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

.timer-container {
  text-align: center;
  background: #c9deff;
  padding: 2rem;
  border-radius: 10px;
}

#timer {
  font-size: 3rem;
  margin: 1rem 0;
  color: black;
}

.controls button,
.round-controls button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

.controls button {
  background-color: white;
  color: black;
}

.round-controls button {
  background-color: white;
  color: black;
}

#minus30 {
  background-color: #ffb649;
}

.custom-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.custom-alert.active {
  opacity: 1;
  pointer-events: all;
}

.alert-content {
  background: #ffb649;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 50dvw;
}

.alert-content h2 {
  margin-top: 0;
  color: black;
}

.alert-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  background-color: #ffb6d9;
}

.link-container a {
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
}
